@media only screen and (max-width: 600px) {
  .header {
    padding-bottom: 15rem;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 1)
      ),
      url("https://i.pinimg.com/564x/a3/b7/bf/a3b7bfd515b4a5bef661800ee125e269.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .iiimgg {
    width: 100vw;
    margin-top: 3rem;
  }
}
@media only screen and (min-width: 600px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
      url("https://i.pinimg.com/originals/4c/bb/98/4cbb982940f46069475e6a1d5765fd1b.gif");
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
  }
  .cart {
    border-bottom-left-radius: 5px;
  }
  .iiimgg {
    width: 40%;
  }
  .cart-num {
    border-bottom-left-radius: 5px;
    background-color: rgb(251, 180, 2);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
  }
  .list-item {
    padding: 0.3em;
    display: flex;
    justify-content: space-between;
  }
}
