
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media only screen and (max-width: 600px) {
    .film-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

    }
    .pic {
        width: 80vw;
        padding: 1.5rem;
        cursor: pointer;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .cart-num {
        background-color: red;
        color: white;
        padding: 0.6rem;
        border-radius: 10px;
        margin: 0.5rem;
    }





    

}